{% extends "master.html" %}

{% block content %}
<h1>Results for kernel {{ kernel }}</h1>

<div class="list-group">
  {% for kerneltest in test_matrix["tests"] %}
    <a class="list-group-item" href="#">
      <div class="row">
        <div class="col-md-6">
          <div>
            {{kerneltest.kver}}
          </div>
          <div>
            {{kerneltest.testdate | parse_time | humanize}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="pull-xs-right">
            <span class="label label-default">{{kerneltest.testarch}}</span>
            <span class="label label-primary">F{{kerneltest.fver}}</span>
            {%if kerneltest.testresult == 'PASS' %}
              <span class="label label-success">PASS</span>&nbsp;
            {%else%}
              <span class="label label-danger">FAIL</span>&nbsp;
            {%endif%}
          </div>
        </div>
      </div>
    </a>
  {% endfor %}
</div>

{% endblock %}
