<!DOCTYPE html>
<html lang='en'>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}{% endblock %} - Kernel-test harness</title>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon"
        href="{{ url_for('static', filename='favicon.ico')}}"/>
    <link rel="stylesheet" type="text/css" media="screen"
        href="https://apps.fedoraproject.org/global/fedora-bootstrap-1.0.1/fedora-bootstrap.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
        href="{{ url_for('static', filename='kerneltest.css') }}"/>
    <link href="{{ url_for('static', filename='fonts/fonts.css') }}"
        rel="stylesheet" type="text/css" />
    {% block header %}{% endblock %}
  </head>
  <body id="{% block tag %}{% endblock %}">
    <div class="masthead">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div id="header">
              <a href="{{url_for('index')}}"><img height=40px src="{{ url_for('static', filename='kerneltest-logo.png') }}"
                alt="Kerneltest Logo"/></a>
            </div>
          </div>
          <div class="col-sm-9">
            <ul class="nav navbar-nav nav-underline pull-xs-right">
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('stats')}}">Stats</a>
              </li>
              <li class="nav-item p-l-1">
                <a class="nav-link" href="{{url_for('upload')}}">
                    Upload
                </a>
              </li>
              <li class="nav-item dropdown p-l-1">
                {% if g.fas_user %}
                  <a class="nav-link btn btn-success" href="{{ url_for('logout') }}?next={{request.url}}">logout</a>
                {% else %}
                  <a class="nav-link btn btn-primary" href="{{ url_for('login') }}?next={{request.url}}">login</a>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="bodycontent p-b-3 p-t-1">
      <div class="container">

        <!-- HEADER -->

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if category, messages %}
                <ul id="flashes">
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
          {% block contentheader %}{% endblock %}
          <div class="row">
            <div class="col-md-9">
            {% block content %}{% endblock %}
            </div>
        {% if options is defined %}
        <div class="col-md-3">
          <div class="card">
              <div class="card-header">
                  <strong>{% block options_title %}Options{% endblock %}</strong>
              </div>
              <div id="delimiter"></div>
              <div id="options_content">
                  {% block options %}{% endblock %}
              </div>
          </div>
        </div>
        {% endif %}
        </div>
      </div>
    </div>
    <div class="footer p-t-1 p-b-1">
        <div class="container">
            <p class="text-muted">
              Copyright &copy; 2014 Red Hat
              -- {{version}}
            </p>
        </div>
    </div>

    {% block jscripts %}
    <script type="text/javascript"
        src="https://apps.fedoraproject.org/global/fedora-bootstrap-1.0.1/fedora-bootstrap.js">
    </script>
    {% if config['FEDMENU_URL'] %}
    <script type="text/javascript"
      src="{{ config['FEDMENU_URL'] }}/js/jquery-1.11.2.min.js"></script>

    <script src="{{ config['FEDMENU_URL'] }}/js/fedmenu.js"></script>
    <script>
      fedmenu({
          'url': '{{ config["FEDMENU_DATA_URL"] }}',
          'mimeType': 'application/javascript',
          'position': 'bottom-right',
          'package': 'kernel',
      });
    </script>
    {% endif %}

    {% endblock %}

</body>
</html>
